<!DOCTYPE html>
<html>
<%- include('partials/head',{ title : "Cotizador de cortinas | Cotizaciones" }) %>

  <body>
    <%- include('partials/header') %>
      <main class="container">
        <section class="col-12  mt-5  mx-auto">
          <article class="card shadow">
            <div class="card-header">


              <form action="/quoters/filter" class="row" id="form-items">
                <div class="col-12 col-md-1 mb-2">
                    <a href="/accessories/buy" class="btn btn-outline-dark w-100 px-1 border-0 <%= locals.userLogin.rol === 1 || locals.userLogin.rol === 2 ? 'disabled' : null %>"  ><i class="fas fa-cart-plus"></i></a>
                
                </div>
                <div class="col-12 col-md-3 col-lg-3 mb-2">
                    <% if (locals.userLogin.rol === 1 || locals.userLogin.rol === 2) { %>
                   
                      <select class="form-select mb-1" id="filter" name="filter" onchange="resetValues()">
                        <option value="" selected hidden>Filtrar por vendedor</option>
                        <% users.forEach(item=> { %>
                          <option id="user<%= item.userId %>" value=<%=item.userId %> ><%= item.user.username %>
                          </option>
                          <% }) %>
                           <!--  <option id="all" value="all">Todos</option> -->
                      </select>
                      <div class="d-flex justify-content-between">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="typeUser" id="typeUser2" value="2" <%= typeUser == 2 && 'checked'%> onchange="resetValues(true)">
                          <label class="form-check-label" for="typeUser2">
                            Todos
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="typeUser" id="typeUser1" value="1" <%= typeUser == 1 && 'checked'%> onchange="resetValues(true)">
                          <label class="form-check-label" for="typeUser1">
                            Activos
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="typeUser" id="typeUser0" value="0" <%= typeUser == 0 && 'checked'%> onchange="resetValues(true)">
                          <label class="form-check-label" for="typeUser0">
                            Inactivos
                          </label>
                        </div>
                      </div>
                    <% }else{ %>
                      <button id="btn-generateOrder" class="btn btn-outline-dark disabled w-100">Preparar pedido</button>
                     
                    <% } %>
               
                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-2">
                  <button type="button" data-bs-toggle="modal" data-bs-target="#quoterModal"  id="btn-createQuotation" class="btn btn-outline-dark w-100 <%= locals.userLogin.rol === 1 || locals.userLogin.rol === 2 ? 'disabled' : null %>"  >Nueva cotización</button>
                </div>
                <div class="col-12  col-md-4 col-lg-4 mb-2 position-relative">
                  <input type="text" class="form-control w-100" id="search" placeholder="Buscar por referencia..." name="search">
                  <button class="btn btn-sm btn-dark-outline position-absolute end-0 top-0 me-3 mt-1" type="submit" onclick="handlerSearch()" id="btn-search"><i
                      class="fas fa-search"></i></button>
                </div>
            </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-4" id="result">
                 
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-center">
                  <h5 class="text-center">COTIZACIONES</h5><span class="small ms-2">(<%= total %>)</span>

                </div>
                <div class="col-12 col-md-4 d-flex justify-content-end">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm">

                      <% if (pages> 1) { %>
                        <li class="page-item">
                          <button class="page-link text-dark" onclick="blockPagesPrevious('<%= pages %>')"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </button>
                        </li>
                        <% } %>

                          <% for( let i=+pages; i <= (total / 8) + multiplo ; i++ ) { %>
                            <% if (i <= +pages + 4 ) { %>
                              <li class="page-item <%= +active == i && 'active' %> "><button class="page-link"
                                  onclick="changeActive('<%=i%>')">
                                  <%= i %>
                                </button></li>
                              <% } %>
                                <% } %>

                                  <input id="active" type="text" value="1" hidden name="active" />
                                  <input id="pages" type="text" value="<%= pages %>" hidden name="pages" />
                                  <input type="text" value="" hidden name="keywords" id="keywords">

                                  <% if (pages < (total / 8) - 4) { %>
                                    <li class="page-item">
                                      <button class="page-link text-dark" aria-label="Next"
                                        onclick="blockPagesNext('<%= pages %>')">
                                        <span aria-hidden="true">&raquo;</span>
                                      </button>
                                    </li>
                                    <% } %>

                    </ul>
                  </nav>
                 

                </div>

                </form>
                <div class="table-responsive">
                  <% if (items.length> 0) { %>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Fecha</th>
                          <% if (locals.userLogin.rol === 1 || locals.userLogin.rol === 2) { %>
                          <th scope="col">Usuario</th>
                          <% } %>
                          <th scope="col">Referencia</th>
                          <th scope="col">Ancho</th>
                          <th scope="col">Alto</th>
                          <th scope="col">Sistema</th>
                          <th scope="col">Tela</th>
                          <th scope="col">Color</th>
                          <th scope="col">Soporte</th>
                          <th scope="col">Modelo</th>
                          <th scope="col">Cadena</th>
                          <% if (locals.userLogin.rol !== 3) { %>
                            <th scope="col">Monto</th>
                          <% } %>
                          <% if (locals.userLogin.rol !== 1 && locals.userLogin.rol !== 2) { %>
                            <th scope="col"></th>
                          <% } %>
                        </tr>
                      </thead>
                      <tbody>
                        <% items.forEach((item)=> { %>
                          <tr>
                            <th scope="row">
                              <%= moment(item.updatedAt).format('DD-MM-YY HH:mm') %>
                            </th>
                            <% if (locals.userLogin.rol === 1 || locals.userLogin.rol === 2) { %>
                            <td>
                              <%= item.user.username %>
                            </td>
                            <% } %>

                            <td>
                              <%= item.reference %>
                            </td>
                            <td>
                              <%= item.clothWidth %>
                            </td>
                            <td>
                              <%= item.heigth %>
                            </td>
                            <td>
                              <%= item.system.name %>
                            </td>
                            <td>
                              <%= item.cloth.name %>
                            </td>
                            <td>
                              <%= item.color.name %>
                            </td>
                            <td>
                              <%= item.support.name %>
                            </td>
                            <td>
                              <%= item.pattern.name %>
                            </td>
                            <td>
                              <%= item.chain.name %>
                            </td>
                            <% if (locals.userLogin.rol !== 3) { %>
                            <td>
                              <%= item.amount %>
                            </td>
                            <% } %>
                            <% if (locals.userLogin.rol !== 1 && locals.userLogin.rol !== 2) { %>
                              <td>
                              <div class="form-check">
                                <input name="quotation" class="form-check-input check-quotation" type="checkbox" value=<%= item.id %>  id="flexCheckDefault">
                              </div>
                            </td>
                            <% } %>
                          
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                    <% }else{ %>
                      <p class="alert alert-warning mt-4 text-center">No hay resultados <%= keywords && 'para ' +
                          keywords %>
                      </p>
                      <% } %>

                </div>
              </div>
          </article>
        </section>
      </main>
      <%- include('partials/footer') %>
        <%- include('partials/scripts') %>
        <%- include('modals/quoter') %>

          <script src="/javascripts/quotations.js"></script>

  </body>

</html>