<!DOCTYPE html>
<html>
<%- include('partials/head',{ title : "Cotizador de cortinas | Usuarios" }) %>

  <body>
    <%- include('partials/header') %>
      <main class="row">
        <section class="col-12 mt-5  mx-auto">
          <article class="card shadow">
            <div class="card-header">


              <form action="/users/filter" class="row" id="form-items">

                <div class="col-12 col-md-4 mb-2">
                  <select class="form-select" id="order" name="order" onchange="setValues()">
                    <option value="" selected hidden>Ordenar</option>
                    <option value="name" id="name">Nombre</option>
                    <option value="surname" id="surname">Apellido</option>
                    <option value="id" id="default">Default</option>
                  </select>
                </div>
                <div class="col-12 col-md-4 mb-2">
                  <select class="form-select" id="filter" name="filter" onchange="resetValues()">
                    <option value="" selected hidden>Filtrar</option>
                    <option id="visible" value="1">Activos</option>
                    <option id="hidden" value="0">No activos</option>
                    <option id="all" value="all">Todos</option>
                  </select>
                </div>
                <div class="col-12  col-md-4 mb-2 position-relative">
                  <input type="text" class="form-control w-100" id="search" placeholder="Buscar" name="search">
                  <button class="btn btn-sm btn-dark-outline position-absolute end-0 top-0 me-3 mt-1" type="submit" onclick="handlerSearch()"><i
                      class="fas fa-search"></i></button>
                </div>
            </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-3 mb-3">
                  <a class="btn btn-sm btn-outline-dark w-100 <%= locals.userLogin.rol == 2 && 'disabled' %>" href="/users/add" >Agregar</a>

                </div>
                <div class="col-12 col-md-3 mb-3 d-flex justify-content-center align-items-center">
                    <div class="form-check form-switch">
                      <label for="viewAllOrders"><strong>Ver presupuestos</strong></label>
                      <input class="form-check-input" type="checkbox" role="switch" id="viewAllOrders" name="viewAllOrders" <%= viewAllOrders ? 'checked': null %>  onchange="changeAllViewOrders()" <%= locals.userLogin.rol == 2 && 'disabled' %>>
                  </div>
                </div>
                <div class="col-12 col-md-3 mb-3 d-flex justify-content-center">
                  <h5 class="text-center">USUARIOS </h5><span class="small ms-2">(<%= total %>)</span>

                </div>
              
                <div class="col-12 col-md-3 d-flex justify-content-end">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm">

                      <% if (pages> 1) { %>
                        <li class="page-item">
                          <button class="page-link text-dark" onclick="blockPagesPrevious('<%= pages %>')"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </button>
                        </li>
                        <% } %>

                          <% for( let i=+pages; i <= (total / 8) + multiplo ; i++ ) { %>
                            <% if (i <= +pages + 4 ) { %>
                              <li class="page-item <%= +active == i && 'active' %> "><button class="page-link"
                                  onclick="changeActive('<%=i%>')">
                                  <%= i %>
                                </button></li>
                              <% } %>
                                <% } %>

                                  <input id="active" type="text" value="1" hidden name="active" />
                                  <input id="pages" type="text" value="<%= pages %>" hidden name="pages" />
                                  <input type="text" value="" hidden name="keywords" id="keywords">

                                  <% if (pages < (total / 8) - 4) { %>
                                    <li class="page-item">
                                      <button class="page-link text-dark" aria-label="Next"
                                        onclick="blockPagesNext('<%= pages %>')">
                                        <span aria-hidden="true">&raquo;</span>
                                      </button>
                                    </li>
                                    <% } %>

                    </ul>
                  </nav>
                </div>

                </form>
                <div class="table-responsive">
                  <% if (items.length > 0) { %>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Habilitado</th>
                        <th scope="col">IDLocal</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Email</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Ver órdenes</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% items.forEach((item) => { %>
                        <tr>
                            <td class="">
                              <div class="d-flex justify-content-center">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="enabled<%= item.id %>"
                                    <%=item.enabled && 'checked' %> onchange="changeEnable(<%=item.id%>,
                                    <%=item.enabled%>)" <%= locals.userLogin.rol == 2 && 'disabled' %> >
                                </div>
                              </div>

                            </td>
                          <th scope="row">
                            <%= item.idLocal %>
                          </th>
                          <td>
                            <%= item.name %>
                          </td>
                          <td>
                            <%= item.surname %>
                          </td>
                          <td>
                            <%= item.rolId !== null ? item.rol.name : '-' %>
                          </td>
                          <td>
                            <%= item.username !== null ? item.username : '-'  %>
                          </td>
                          <td>
                            <%= item.email %>
                          </td>
                          <td>
                            <%= item.phone %>
                          </td>
                          <td class="">
                            <div class="d-flex justify-content-center">
                              <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="viewOrders<%= item.id %>"
                                <%=item.viewOrders && 'checked' %> onchange="changeViewOrders(<%=item.id%>,
                                <%=item.viewOrders%>)" <%= locals.userLogin.rol == 2 && 'disabled' %>>
                            </div>
                            </div>
                          
                        </td>
                          <td class="d-flex">
                            <a class="btn btn-sm btn-success mx-1 <%= (locals.userLogin.rol == 2 || item.id == 85) && 'disabled' %>" style="width:33px;"
                              href="/users/edit/<%= item.id %>" ><i class="fas fa-edit"></i></a>
                              
                              <form action="/users/remove/<%= item.id %>?_method=delete" method="POST" onsubmit="sendDeleteUser(event, '<%= item.name %>', '<%= item.surname %>')">

                              
                                <button type="submit" class="btn btn-sm btn-danger mx-1" style="width:33px;"><i
                                  class="fas fa-trash"></i></button> 
                                
                                </form>
                            
                            
                            <!-- <button class="btn btn-sm btn-danger mx-1" style="width:33px;"><i
                              class="fas fa-trash"></i></button> -->
                          </td>
                        </tr>
                        <% }) %>
                    </tbody>
                  </table>
                  <% }else{ %>
                    <p class="alert alert-warning mt-4 text-center">No hay resultados <%= keywords && 'para ' + keywords %></p>
                  <% } %>

                </div>
              </div>
          </article>
        </section>
      </main>
      <%- include('partials/footer') %>
        <%- include('partials/scripts') %>
          <script src="/javascripts/users.js"></script>

  </body>

</html>